<footer class="pt-4 my-md-5 bg-light pt-md-5 border-top"
        style="margin-bottom: 0!important; padding-top: 25px!important; margin-top: 0!important; z-index: 5000!important">
  <div class="container" style=" margin-left: auto;  margin-right: auto; z-index: 5000!important">
    <p (click)="gotoTop()" class="float-right text-primary" style="cursor: pointer"><a>Vissza a tetejére</a></p>
    <p>© 2019-2020 HIGH FIVE TEAM · <a href="#">Rólunk</a></p>
  </div>
  <div style="height: 25px"></div>
</footer>
