<br>
<div *ngFor="let pastBooking of pastBookingList"
     class="card mb-3">
  <div class="row no-gutters">

    <div class="col-md-8">
      <div (click)="bookingDetails(pastBooking.id)" class="card-body" style="cursor: pointer">

        Foglalás - kezdete: <strong>{{pastBooking.startDate | date:'y. MMM d. EEEE'}}</strong>
        - vége: <strong>{{pastBooking.endDate | date:'y. MMM d. EEEE'}}</strong><br>

        Vendég neve: <strong>{{pastBooking.guest.lastname}}</strong>&nbsp;
        <strong>{{pastBooking.guest.firstname}}</strong>
        ( felhasználónév: {{pastBooking.guest.username}}) -
        vendégek száma: {{pastBooking.numberOfGuests}} fő <br>
        <!--    foglalás ára: {{pastBooking.priceOfBooking.toLocaleString('hu-HU')}} Ft<br>-->

        <ol>
          <li *ngFor="let room of pastBooking.reservedRooms">
            <h6 style="display: inline;">{{ room.roomName }} - {{ room.roomType }}</h6>
            (Férőhelyek: {{ room.numberOfBeds }})
          </li>
        </ol>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card-body">
        <div class="btn-group mr-4" class="text-right">
          <button (click)="deleteBooking(pastBooking.id)" class="btn btn-primary mr-4 ">
            Foglalás törlése
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
