<div class="container"
     style="padding-top: 30px;  margin-left: auto; margin-right: auto; min-height: calc(100vh - 142px);">
  <h2>Szoba adatlap</h2>
  <hr/>
  <form (ngSubmit)="onSubmit()" [formGroup]="roomForm">

    <div class="form-group">
      <label for="roomName" class="form-control-label">
        Szoba neve:<a> *</a>
      </label>
      <input
        type="text"
        id="roomName"
        formControlName="roomName"
        name="roomName"
        [ngClass]="{'is-invalid': roomForm.get('roomName').invalid && roomForm.get('roomName').touched || roomForm.get('roomName').errors?.serverError}"
        class="form-control"
        placeholder="Szoba neve"
      />
      <small
        *ngIf="roomForm.get('roomName').invalid && roomForm.get('roomName').touched && !roomForm.get('roomName').errors?.serverError"
        class="text-danger">
        Kérlek add meg a szoba nevét!
      </small>
      <small *ngIf="roomForm.get('roomName').errors?.serverError" class="text-danger">
        {{roomForm.get('roomName').errors['serverError']}}
      </small>
    </div>

    <div class="form-group">
      <label for="roomType" class="form-control-label">
        Szobatípus:<a> *</a>
      </label>
      <select
        id="roomType"
        formControlName="roomType"
        name="roomType"
        class="form-control"
        [ngClass]="{'is-invalid': roomForm.get('roomType').invalid && roomForm.get('roomType').touched || roomForm.get('roomType').errors?.serverError}"
      >
        <option disabled value="">&#45;&#45; Kérlek válassz egy szobatípust! &#45;&#45;</option>
        <option *ngFor="let roomType of roomTypeOption, let i = index"
                value="{{roomType?.name}}"> {{roomType?.displayName}} </option>
      </select>
      <small
        *ngIf="roomForm.get('roomType').invalid && roomForm.get('roomType').touched && !roomForm.get('roomType').errors?.serverError"
        class="text-danger">
        Kérlek add meg a szoba típusát!
      </small>
      <small *ngIf="roomForm.get('roomType').errors?.serverError" class="text-danger">
        {{roomForm.get('roomType').errors['serverError']}}
      </small>
    </div>

    <div class="form-group">
      <label for="numberOfBeds" class="form-control-label">
        Ágyak (férőhelyek) száma:<a> *</a>
      </label>
      <input
        type="number"
        id="numberOfBeds"
        formControlName="numberOfBeds"
        name="numberOfBeds"
        class="form-control"
        [ngClass]="{'is-invalid': roomForm.get('numberOfBeds').invalid && roomForm.get('numberOfBeds').touched || roomForm.get('numberOfBeds').errors?.serverError}"
        placeholder="Ágyak (férőhelyek) száma"
      />
      <small
        *ngIf="roomForm.get('numberOfBeds').invalid && roomForm.get('numberOfBeds').touched && !roomForm.get('numberOfBeds').errors?.serverError"
        class="text-danger">
        Kérlek add meg a férőhelyek (ágyak) számát!
      </small>
      <small *ngIf="roomForm.get('numberOfBeds').errors?.serverError" class="text-danger">
        {{roomForm.get('numberOfBeds').errors['serverError']}}
      </small>
    </div>

    <div class="form-group">
      <label for="roomArea" class="form-control-label">
        Szoba terület (m<a>2</a>):<a> *</a>
      </label>
      <input
        type="number"
        id="roomArea"
        formControlName="roomArea"
        name="roomArea"
        class="form-control"
        [ngClass]="{'is-invalid': roomForm.get('roomArea').invalid && roomForm.get('roomArea').touched || roomForm.get('roomArea').errors?.serverError}"
      />
      <small
        *ngIf="roomForm.get('roomArea').invalid && roomForm.get('roomArea').touched && !roomForm.get('roomArea').errors?.serverError"
        class="text-danger">
        Kérlek add meg a szoba területet!
      </small>
      <small *ngIf="roomForm.get('roomArea').errors?.serverError" class="text-danger">
        {{roomForm.get('roomArea').errors['serverError']}}
      </small>
    </div>

    <div class="form-group">
      <label for="pricePerNight" class="form-control-label">
        Szoba ára (Ft/éj):<a> *</a>
      </label>
      <input
        type="number"
        id="pricePerNight"
        formControlName="pricePerNight"
        name="pricePerNight"
        class="form-control"
        [ngClass]="{'is-invalid': roomForm.get('pricePerNight').invalid && roomForm.get('pricePerNight').touched || roomForm.get('pricePerNight').errors?.serverError}"
        placeholder="Szoba ára"
      />
      <small
        *ngIf="roomForm.get('pricePerNight').invalid && roomForm.get('pricePerNight').touched && !roomForm.get('pricePerNight').errors?.serverError"
        class="text-danger">
        Kérlek add meg a szoba árát!
      </small>
      <small *ngIf="roomForm.get('pricePerNight').errors?.serverError" class="text-danger">
        {{roomForm.get('pricePerNight').errors['serverError']}}
      </small>
    </div>

    <div class="form-group">
      <label for="description" class="form-control-label">
        Rövid leírás:<a> *</a>
      </label>
      <textarea
        rows="5"
        type="text"
        id="description"
        formControlName="description"
        name="description"
        [ngClass]="{'is-invalid': roomForm.get('description').invalid && roomForm.get('description').touched || roomForm.get('description').errors?.serverError}"
        class="form-control"
        placeholder="Rövid leírás (max. 200 karakter)"

      ></textarea>
      <small
        *ngIf="roomForm.get('description').invalid && roomForm.get('description').touched && !roomForm.get('description').errors?.serverError"
        class="text-danger">
        Kérlek adj meg egy rövid leírást (max.200 karakter legyen)!
      </small>
      <small *ngIf="roomForm.get('description').errors?.serverError" class="text-danger">
        {{roomForm.get('description').errors['serverError']}}
      </small>
    </div>

    <div class="form-group">
      <label for="roomImageUrl" class="form-control-label">
        Szoba kép url címe:
      </label>
      <input
        type="text"
        id="roomImageUrl"
        formControlName="roomImageUrl"
        name="roomImageUrl"
        placeholder="Szoba kép url címe"
        class="form-control"
      />
      <small *ngIf="roomForm.get('roomImageUrl').errors?.serverError" class="text-danger">
        {{roomForm.get('roomImageUrl').errors['serverError']}}
      </small>
    </div>

    <div class="form-group">
      <label class="form-control-label">
        Szoba szolgáltatások:
      </label>
      <div formArrayName="roomFeatures" *ngFor="let roomFeatures of roomFeatureTypeOption; let i = index">
        <label>
          <input [formControlName]="i" name="roomFeatures" type="checkbox">
          {{ roomFeatures?.displayName }}
        </label>
      </div>
      <div><a>* - kötelezően kitöltendő mezők!</a></div>
    </div>

    <br/>
    <button [disabled]="roomForm.invalid" class="btn btn-primary my-buttons">Szoba mentése</button>
  </form>
  <br>
  <br>
</div>
